@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: local(※), url("../fonts/NotoSansKR-Thin.woff2") format('woff2'),
       url("../fonts/NotoSansKR-Thin.woff") format('woff'),
       url("../fonts/NotoSansKR-Thin.otf") format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: local(※), url("../fonts/NotoSansKR-Light.woff2") format('woff2'),
       url("../fonts/NotoSansKR-Light.woff") format('woff'),
       url("../fonts/NotoSansKR-Light.otf") format('opentype');
}
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 400;
   src: local(※), url("../fonts/NotoSansKR-Regular.woff2") format('woff2'),
        url("../fonts/NotoSansKR-Regular.woff") format('woff'),
        url("../fonts/NotoSansKR-Regular.otf") format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 500;
   src: local(※), url("../fonts/NotoSansKR-Medium.woff2") format('woff2'),
        url("../fonts/NotoSansKR-Medium.woff") format('woff'),
        url("../fonts/NotoSansKR-Medium.otf") format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 700;
   src: local(※), url("../fonts/NotoSansKR-Bold.woff2") format('woff2'),
        url("../fonts/NotoSansKR-Bold.woff") format('woff'),
        url("../fonts/NotoSansKR-Bold.otf") format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 900;
   src: local(※), url("../fonts/NotoSansKR-Black.woff2") format('woff2'),
        url("../fonts/NotoSansKR-Black.woff") format('woff'),
        url("../fonts/NotoSansKR-Black.otf") format('opentype');
 }


@font-face {
 font-family: 'NanumSquare';
 font-weight: 400;
 src: url(../NanumSquareR.eot);
 src: url(../NanumSquareR.eot?#iefix) format('embedded-opentype')
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 700;
 src: url(../NanumSquareB.eot);
 src: url(../NanumSquareB.eot?#iefix) format('embedded-opentype')
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 800;
 src: url(../NanumSquareEB.eot);
 src: url(../NanumSquareEB.eot?#iefix) format('embedded-opentype'),
      url(../NanumSquareEB.woff) format('woff'),
      url(../NanumSquareEB.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 300;
 src: url(../NanumSquareL.eot);
 src: url(../NanumSquareL.eot?#iefix) format('embedded-opentype'),
      url(../NanumSquareL.woff) format('woff'),
      url(../NanumSquareL.ttf) format('truetype');
}

/* nanum-myeongjo-regular - latin_korean */
@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/nanum-myeongjo-v12-latin_korean-regular.eot'); /* IE9 Compat Modes */
  src: local('NanumMyeongjo'),
       url('../fonts/nanum-myeongjo-v12-latin_korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nanum-myeongjo-v12-latin_korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nanum-myeongjo-v12-latin_korean-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nanum-myeongjo-v12-latin_korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nanum-myeongjo-v12-latin_korean-regular.svg#NanumMyeongjo') format('svg'); /* Legacy iOS */
}
/* nanum-myeongjo-700 - latin_korean */
@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/nanum-myeongjo-v12-latin_korean-700.eot'); /* IE9 Compat Modes */
  src: local('NanumMyeongjo Bold'), local('NanumMyeongjoBold'),
       url('../fonts/nanum-myeongjo-v12-latin_korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nanum-myeongjo-v12-latin_korean-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nanum-myeongjo-v12-latin_korean-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nanum-myeongjo-v12-latin_korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nanum-myeongjo-v12-latin_korean-700.svg#NanumMyeongjo') format('svg'); /* Legacy iOS */
}
/* nanum-myeongjo-800 - latin_korean */
@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/nanum-myeongjo-v12-latin_korean-800.eot'); /* IE9 Compat Modes */
  src: local('NanumMyeongjo ExtraBold'), local('NanumMyeongjoExtraBold'),
       url('../fonts/nanum-myeongjo-v12-latin_korean-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nanum-myeongjo-v12-latin_korean-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nanum-myeongjo-v12-latin_korean-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nanum-myeongjo-v12-latin_korean-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nanum-myeongjo-v12-latin_korean-800.svg#NanumMyeongjo') format('svg'); /* Legacy iOS */
}

/* 나눔스퀘어라운드 웹폰트 v1.11 https://github.com/innks/NanumSquareRound */
@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 300;
  src: local("../fonts/NanumSquareRoundL"), /* computer */
    url("../fonts/NanumSquareRoundL.eot"), /* IE9 Compat Modes */
    url("../fonts/NanumSquareRoundL.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/NanumSquareRoundL.woff2") format("woff2"), /* Modern Browsers */
    url("../fonts/NanumSquareRoundL.woff") format("woff"), /* Modern Browsers */
    url("../fonts/NanumSquareRoundL.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 400;
  src: local("../fonts/NanumSquareRoundR"), /* computer */
    url("../fonts/NanumSquareRoundR.eot"), /* IE9 Compat Modes */
    url("../fonts/NanumSquareRoundR.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/NanumSquareRoundR.woff2") format("woff2"), /* Modern Browsers */    
    url("../fonts/NanumSquareRoundR.woff") format("woff"), /* Modern Browsers */
    url("../fonts/NanumSquareRoundR.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 700;
  src: local("../fonts/NanumSquareRoundB"), /* computer */
    url("../fonts/NanumSquareRoundB.eot"), /* IE9 Compat Modes */
    url("../fonts/NanumSquareRoundB.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/NanumSquareRoundB.woff2") format("woff2"), /* Modern Browsers */
    url("../fonts/NanumSquareRoundB.woff") format("woff"), /* Modern Browsers */
    url("../fonts/NanumSquareRoundB.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 800;
  src: local("../fonts/NanumSquareRoundEB"), /* computer */
    url("../fonts/NanumSquareRoundEB.eot"), /* IE9 Compat Modes */
    url("../fonts/NanumSquareRoundEB.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/NanumSquareRoundEB.woff2") format("woff2"), /* Modern Browsers */
    url("../fonts/NanumSquareRoundEB.woff") format("woff"), /* Modern Browsers */
    url("../fonts/NanumSquareRoundEB.ttf") format("truetype"); /* Safari, Android, iOS */
}